footer {
    color: black;
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #CCCCCC;
}

footer p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
